.vscode/**
.vscode-test/**
.cursor/**
src/**
scripts/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
.history/**
package-lock.json
.git/**
*.vsix
.eslintrc*
.prettierrc*
*.log
.DS_Store
out/**
build/**
